root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{md,go,diff,patch}]
trim_trailing_whitespace = false

[LICENSE]
insert_final_newline = false

[Makefile]
indent_style = tab

[*.{cmd,bat}]
end_of_line = crlf

[*.{yml,yaml,html,js,json,ts,tsx,css,sass,scss,vue,cpp,tf}]
indent_size = 2

[*.rst]
indent_size = 3
